.contenedor {
    border: 4px solid #085dc5;
    background-color: #4482cd;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 60px 60px 60px;
    place-content: center;
    
}

.item {
    font-size: 2rem;
}

.item-1 {
    border: 4px solid white;
    background-color: #1e5ca8;
    grid-column-start: 1;
    grid-column-end: 4;

}

.item-2 {
    border: 4px solid rgb(162, 178, 200);
    background-color: #0f2949;
    grid-row: 2/4;
}

.item-3 {
    border: 4px solid rgb(147, 158, 244);
    background-color: #1e4b82;
    grid-area: 2/2/4/4;
}





.contenedor {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
        "header header header"
        "side main main"
        "side main main";
    place-content: center;
}


.item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-area: header;
}
.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-area: side;
}


