body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.contenedor {
    border: 5px solid #d795e3;
    background-color: #eea9ee7c;
    display: grid;
    /* grid-template-columns: [p] 60px [g] 120px [r] 180px; */
    grid-template-rows: 200px 200px;
    grid-auto-columns: 80px;
    /* row-gap: 18px;
    column-gap: 24px; */
    gap: 32px;
    /* grid-gap: 24px; */
    grid-auto-flow: column;
    /* grid-auto-columns: 50px; */
    /* justify-content: space-between; */
    /* justify-items: stretch; */
    /* align-items:flex-start; */
  }
  
  .item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
  }